.card-component {
    margin-bottom: 32px;

    &__image {
        margin-bottom: 16px;
    }   

    &__text {
        font-size: 18px;
        font-weight: bold;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        text-transform: uppercase;       
    }
}
