.grid-container {
    padding: 40px;
    .row {
        // background: blue;
        // color: white;
        text-align: center;
        justify-content: center;
    }
    
    // * {
    //     border: red solid 1px;
    // }
}

.material-grid-container {
    text-align: center;
}

